.contato{
    padding: 4rem;
    color: var(--color-white);
}
.cardtop{
    padding: 5px;
    display: flex;
    align-content: center;
    height: 2rem;
    background-color: var(--color-bdark);
}
.cardbottom{
    padding: 5px;
    display: flex;
    align-content: center;
    height: 2rem;
    background-color: var(--color-bclear);
}
.img-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 5px;
    display: inline-block;
}
.texts{
    line-height: 1.5rem;
    padding-left: .3rem;
    align-self: center;
    display: inline-block;
}
.cardback{
    background-color: var(--color-green);
    padding: 2rem;
    color: var(--color-white);
    font-family: var(--font-second);
}