.contato{
    text-align: center;
    background: center/cover repeat url("../Assets/Images/Main/background.png");
    min-height: 100vh;
}
.contato__itens{
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}
.contato__link{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    border: 2px var(--color-white) solid;
    border-radius: 8px;
    padding: 8px;
}
.contato__button{
    width: 4rem;
}
.contato__link-box{
    border-radius: 100px;
    padding: 1rem;
    background-color: var(--color-green);
    color: var(--color-bdark);
    font-size:4rem;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.contato__link-box:hover{
    background-color: var(--color-bclear);
    color: var(--color-green);
}

.contato__texto-sm{
    display: inline-block;
    color: var(--color-white);
    font-size: 1.5rem;
    line-height: 5rem;
    padding: 0  0 0 2rem;
    text-align: center;
    overflow: hidden;
    max-width: 100%;

}
.contato__texto-lg{
    display: none;
    color: var(--color-white);
    font-size: 1rem;
    line-height: 2rem;
}

.cta{
    color: var(--color-green);
    font-family: var(--font-second);
    font-size: 5rem;
}
@media only screen and (min-width: 811px){
    .contato{
        min-height: 95vh;
    }
    .contato__itens{
        padding: 10rem 10rem 6rem;
        flex-direction: row;
        justify-content: space-around;
    }
    .contato__link{
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        border: none;
        padding: 8px;
    }
    .contato__button{
        width: 4rem;
        height: 4rem;
    }
    .contato__texto-sm{
        display: none;
    }
    .contato__texto-lg{
        display: inline-block;
    }
    .cta{
        font-size: 8rem;
    }
}