/* Estilo principal para a seção .contato */
.contato {
    text-align: center;
    background: center/cover repeat url("../Assets/Images/Main/background.png");
    min-height: 100vh;
}

/* Estilo para os itens de contato */
.contato__itens {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 3rem 1.5rem;
}

/* Estilo para links de contato */
.contato__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: 8px;
    border: 2px var(--color-white) solid;
    border-radius: 8px;
}

/* Estilo para o botão de contato */
.contato__button {
    width: 4rem;
}

/* Estilo para a caixa de link de contato */
.contato__link-box {
    padding: 1rem;
    font-size: 4rem;
    color: var(--color-bdark);
    background-color: var(--color-green);
    border-radius: 100px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* Estilo para o efeito hover na caixa de link de contato */
.contato__link-box:hover {
    background-color: var(--color-bclear);
    color: var(--color-green);
}

/* Estilo para o texto pequeno */
.contato__texto-sm {
    display: inline-block;
    color: var(--color-white);
    font-size: 1.5rem;
    line-height: 3rem;
    padding-left: 2rem;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
}

/* Estilo para o texto grande (inicialmente oculto) */
.contato__texto-lg {
    display: none;
    color: var(--color-white);
    font-size: 1rem;
    line-height: 2rem;
}

/* Estilo para chamadas à ação (CTA) */
.cta {
    color: var(--color-green);
    font-family: var(--font-second);
    font-size: 5rem;
}

/* Estilos responsivos para telas maiores (min-width: 811px) */
@media only screen and (min-width: 811px) {
    .contato {
        min-height: 95vh;
    }
    .contato__itens {
        flex-direction: row;
        justify-content: space-around;
        padding: 10rem 10rem 6rem;
    }
    .contato__link {
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        border: none;
        padding: 8px;
    }
    .contato__button {
        width: 4rem;
        height: 4rem;
    }
    .contato__texto-sm {
        display: none;
        line-height: 5rem;
    }
    .contato__texto-lg {
        display: inline-block;
    }
    .cta {
        font-size: 8rem;
    }
}
