/* Navbar principal */
.navbar {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    height: 2.5rem;
    padding: .5rem;
    background-color: var(--color-green);
}

/* Ícone do menu hamburguer */
.hamburguer {
    width: 2rem;
    height: 1rem;
    padding: 1rem .5rem;
    cursor: pointer;
}

/* Barras do ícone hamburguer */
.bar {
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--color-bdark);
    border-radius: 5px;
}

/* Transformações específicas das barras */
#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

/* Logo na navbar */
.navbar__logo {
    width: 11rem;
    margin-right: 3rem;
    padding: .2rem;
}

/* Itens de navegação */
.navitens {
    height: 20rem;
    font-family: var(--font-main);
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: var(--color-green);
    transition: height .5s ease-in-out;
    /* transition: color 2s ease-in-out; */
}

/* Estilo dos itens de navegação */
.navitens__item {
    height: 2.2rem;
    padding: 1rem;
    color: var(--color-bdark);
    background: var(--color-green);
    font-family: var(--font-second);
}

/* Estilo do item ativo */
.navitens__active {
    padding: 1rem 2rem;
    background: var(--color-white);
}

/* Efeito hover nos itens de navegação */
.navitens__item:hover {
    background: var(--color-white);
}

/* Estilo para ocultar elementos */
.hider {
    height: 0;
    overflow: hidden;
}

/* Estilo para listas */
.list {
    height: 20rem;
    overflow: hidden;
}

/* Estilo para esconder listas */
.list-hider {
    height: 0;
    transition: height .5s ease-in-out 1s;
}

/* Navbar para telas grandes */
.navbar__bigscreen {
    display: none;
}

/* Estilos responsivos para telas maiores (min-width: 811px) */
@media only screen and (min-width: 811px) {
    .navbar {
        justify-content: space-between;
        height: 3rem;
        padding: 0;
    }
    .hamburguer {
        display: none;
    }
    .navbar__bigscreen {
        display: inline-block;
        margin-right: 1rem;
    }
    .bigscreen__list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-left: 0;
    }
    .navitens__item {
        padding: 0.4rem;
        font-size: 2rem;
        font-weight: bold;
    }
}
